main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

figure {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 95%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure:hover img {
    transform: scale(1.05);
}

figcaption {
    text-align: left;
    padding: 10px 0;
}

.footer-column img:hover {
    transform: scale(1.2);
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}